# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_copy.xml

# IntelliJ-based IDEs
.idea/
*.iml
*.iws
out/

# Visual Studio Code
.vscode/
!.vscode/extensions.json
.vscode/project.json
*.code-workspace

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
.gradle/
local.properties
*.kwks
*.keystore
/android/app/key.properties
/android/app/src/main/res/raw/
/android/app/src/main/assets/

# iOS
.generated/
DerivedData/
Runner.app
Runner.ipa
Runner.screenshots
/ios/Flutter/.last_build_id
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Pods/
/ios/.symlinks/
/ios/ServiceDefinitions.json
/ios/Config/config.xcconfig
Podfile.lock

# Web
.dart_tool/build-latest
/web/stack.trace

# Environment variables (PENTING: Jangan push file rahasia)
.env
.env.*
lib/firebase_options.dart

# Melacak pubspec.lock biasanya disarankan untuk aplikasi (bukan package)
# pubspec.lock